#wpadminbar *,
#wpadminbar #wp-toolbar a.ab-item,
#wpadminbar #wp-toolbar span.ab-label {
  color: #0f0;
  font-family: courier;
}

#wpadminbar {
   background:rgba(0,64,0,0.5);
   border-bottom: 1px solid #0f0;
}

#wpadminbar .quicklinks>ul>li, #wpadminbar .quicklinks>ul>li>a, #wpadminbar .quicklinks>ul>li>.ab-empty-item {
   border-right: none;
}

#wpadminbar .quicklinks .ab-top-secondary>li, #wpadminbar .quicklinks .ab-top-secondary>li>a, #wpadminbar .quicklinks .ab-top-secondary>li>.ab-empty-item {
   border-left: none;
}

#wpadminbar .menupop .ab-sub-wrapper,#wpadminbar .shortlink-input {
   background:rgba(0,0,0,0.5);
   border-color:#0f0;
   border-width: 0px 1px 1px;
   border-style: solid;
}


#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
   background: rgba(0,0,0,0.5);
   color:#0f0;
}

#wpadminbar>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar a:focus span.ab-label {
	color: #0f0;
}

#wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
   background:rgba(0,0,0,0.5);
   color:#0f0;
}

#wpadminbar .menupop li:hover,#wpadminbar .menupop li.hover,#wpadminbar .quicklinks .menupop .ab-item:focus,#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
   background-color:rgba(0,64,0,0.5);
}

#wpadminbar .quicklinks .menupop ul li a,#wpadminbar .quicklinks .menupop ul li a strong,#wpadminbar .quicklinks .menupop.hover ul li a,#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
   color: #0f0;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
   background: none;
   border-top: 1px solid #0f0;
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary>li:hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li.hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus {
   background:rgba(0,64,0,0.5);
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
   background: 0;
   border: 0;
}

#wpadminbar .ab-top-secondary {
   background: none;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
   color:#0f0;
}

#wpadminbar #wp-admin-bar-user-info .username {
   color: #00C000;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input,
#wpadminbar #adminbarsearch .adminbar-input:focus {
   font-family: courier;
   color: #0f0;
   text-shadow: none;
   height: inherit;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus,
#wpadminbar #adminbarsearch .adminbar-input:focus {
   background-color:rgba(0,0,0,1);
   font-family: courier;
   color: #0f0;
   text-shadow: none;
   height: inherit;
}

#wpadminbar .hover .ab-label,#wpadminbar.nojq .ab-item:focus .ab-label, #wpadminbar .quicklinks a:hover span#ab-updates, #wpadminbar .menupop.hover .ab-label,#wpadminbar .ab-submenu .ab-item {
   color: #0f0;
}

#wpadminbar #wp-admin-bar-updates .ab-item:hover, #wpadminbar #wp-admin-bar-comments .ab-item:hover, #wpadminbar #wp-admin-bar-search .ab-item:hover {
   background-color: rgba(0,0,0,0.5);
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before {
  color: #0f0;
}

#wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar #adminbarsearch:before {
  color: rgba(64,128,64, 1)
}
